@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f9fafb; /* bg-gray-50 */
    color: #111827; /* text-gray-900 */
    font-size: 18px; /* 50+ friendly base font size */
    line-height: 1.6;
  }
}

